SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST>:5432/<DB>
SPRING_DATASOURCE_USERNAME=<USER>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>
PORT=8080
KAKAO_REST_API_KEY=
KAKAO_REDIRECT_URI=
JWT_SECRET=
